body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

#per-night {
  font-size: 0.8rem;
}
.nav-bar {
  height: 5rem;
  background-color: white;
}

.fa-house {
  color: #fe424d !important;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links {
  width: 100%;
  vertical-align: middle;
}
.f-info-socials i {
  margin-left: 1rem;
}

.f-info-brand {
  width: 100%;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.f-info-socials {
  width: 100%;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
}

/* Cards */

.listing-link {
  text-decoration: none;
  color: #222222;
}

.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
  height: 20rem;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.5;
  color: #ebebeb;
}

/* btn */
.add-btn,
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page */
.show-img {
  height: 30vh;
}

.dlt-btn {
  background-color: #fe424d !important;
}

.btn {
  border: none !important;
}

/* Review Button */
.review-btn {
  border: 0.5px solid black !important;
}

/* Map */
#map {
  height: 400px;
  width: 80vh;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
